html, body, form {
    position: absolute;
    background-color: #fff;
    width: 1265px;
    height: 3000px;
    top: 0;
    margin: 0;
    padding: 0;
}

/*#form1 {
position: absolute;
height: 2000px;
width: 1265px;
margin: 0px;
padding: 0px;
background-color: brown;
}*/

/*site-header {
    font-family: 'Gill Sans MT','sans-serif';
    display: block;
    z-index: 999;
    border-bottom: 2px solid #e7e7e7;
    transition: top 0.3s;
    position: fixed;
    font-weight: bold;
    top: 0px;
    left: 0px;
    width: 1285px;
    height: 80px;
    background-color: white;
    font-size: 15px;
}*/
.site-nav-classic {
    position: fixed;
    z-index: 999;
    display: block;
    width: 1265px;
    height: 90px;
    left: 0px;
    top: 0;
    border-bottom: 2px solid #e7e7e7;
    font-family: 'Gill Sans MT','sans-serif';
    display: block;
    /*clear: both;*/
}

#logo {
    position: absolute;
    display: block;
    z-index: 9999;
    left: 60px;
    top: 20px;
    height: 50px;
    width: 50px;
}

.maincontainer {
    background-color: #fff;
    height: 90px;
    font-weight: bold;
    z-index: 999;
    list-style-type: none;
    display: block;
    float: left;
    width: 1265px;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT',sans-serif;
}

    .maincontainer li {
        height: 80px;
        display: inline-block;
        float: left;
    }

        .maincontainer li a {
            float: left;
            height: 80px;
            color: #5b6570;
            font-family: 'Gill Sans MT',sans-serif;
            padding: 38px 40px;
            position: relative;
            display: inline-block;
            left: 160px;
            margin: 0;
            text-decoration: none;
        }

li a:hover, .has-submenu:hover .drop {
    color: #9aa7bc;
}

.submenu {
    display: none;
    background-color: #fff;
    width: 100%;
    height: 90px;
    top: 20px;
    left: 0;
    list-style-type: none;
}

    .submenu li {
        float: left;
        position: relative;
        color: #565656;
        font-family: 'Gill Sans MT',sans-serif;
        left: 50px;
        padding: 20px 40px;
        top: -40px;
        display: block;
    }

        .submenu li a {
            z-index: 9999;
        }

.has-submenu:hover .submenu {
    position: absolute;
    opacity: 1;
    display: inline-block;
    width: 1275px;
    height: 60px;
    padding: 0;
    margin: 70px 0 0 0;
    background-color: white;
}

.submenu li a:hover {
    display: inline-block;
    float: left;
    color: #9aa7bc;
}

.nav-right {
    position: absolute;
    z-index: 999;
    display: block;
    right: 0px;
    top: 0px;
    height: 70px;
    width: 340px;
    z-index: 999;
}

.sign-in-box {
    position: absolute;
    display: block;
    top: 28px;
    right: 100px;
    height: 30px;
    width: 80px;
    background-color: #5b6570;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 600;
    margin-left: 25px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.sign-out-box {
    position: absolute;
    display: block;
    top: 28px;
    right: 100px;
    height: 30px;
    width: 80px;
    background-color: #5b6570;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 600;
    margin-left: 25px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
}

.bagicon {
    display: block;
    position: absolute;
    top: 25px;
    right: 40px;
}

.usericon {
    display: block;
    position: absolute;
    top: 28px;
    right: 340px;
}

.welecome {
    display: block;
    position: absolute;
    color: #5b6570;
    font-family: 'Gill Sans MT', sans-serif;
    top: 34px;
    right: 260px
}


.site-content {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1265px;
    height: 2800px;
    float: left;
}

/**
*
*Fotter
*
**/
.site-fotter {
    position: absolute;
    float: left;
    display: block;
    z-index: 9;
    width: 1265px;
    height: 920px;
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 14px;
    background-color: #5b6570;
    bottom: 0;
    left: 0px;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

    .site-fotter h4 {
        font-family: Tahoma, sans-serif;
        font-size: 15px;
        color: #edecf0;
    }

.box-fotter-l {
    position: absolute;
    width: 632.5px;
    height: 920px;
    left: 0px;
    bottom: 0px;
}

.box-fotter-l-top {
    position: absolute;
    left: 100px;
    top: 150px;
}

.box-fotter-l-bottom {
    position: absolute;
    left: 100px;
    top: 460px;
}

.em-text-style {
    background-color: #505962;
    border-color: white;
    border-width: 1px;
    width: 200px;
    height: 35px;
    color: #e3e5e8;
    font-size: 11px;
    margin-right: 0px;
    margin-top: 35px;
    padding: 0px;
    float: left;
}

.butt-style {
    background-color: #b9bfc6;
    width: 70px;
    margin-left: 0;
    margin-top: 47px;
    padding: 0px;
    height: 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.check-style lable {
    display: inline-block;
}

.check-style input {
    margin: 2px 5px 0px 0px;
    width: 15px;
    height: 15px;
}

.social-icon {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
    letter-spacing: 10px;
}

.copyright {
    position: absolute;
    z-index: 9;
    left: 100px;
    bottom: 70px;
}

    .copyright a {
        text-decoration: none;
        color: #fff;
        border-bottom: dashed 1px;
    }

.box-fotter-r {
    position: absolute;
    width: 632.5px;
    height: 920px;
    left: 632.5px;
    bottom: 0px;
}

.box-fotter-r-top {
    position: absolute;
    left: 100px;
    top: 100px;
}

.visit-style {
    font-family: Tahoma, sans-serif;
    line-height: 40px;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    border-bottom: solid 1px;
}

.box-fotter-r-bottom {
    position: absolute;
    left: 100px;
    top: 450px;
}

.fotter-menu {
    columns: 2;
    margin: 0;
    padding: 0px;
    left: 0px;
}

    .fotter-menu li {
        list-style-type: none;
        padding: 10px;
    }

    .fotter-menu a {
        list-style-type: none;
        text-decoration: none;
        border-bottom: 1px dashed;
        color: #ffffff;
    }

/*different pages*/






